{# TEMPLATE VAR SETTINGS #}
{%- set url_root = pathto('', 1) %}
{%- if url_root == '#' %}{% set url_root = '' %}{% endif %}
{%- if not embedded and docstitle %}
  {%- set titlesuffix = " &mdash; "|safe + docstitle|e %}
{%- else %}
  {%- set titlesuffix = "" %}
{%- endif %}
<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{ metatags }}
  {% block htmltitle %}
  <title>{{ title|striptags|e }}{{ titlesuffix }}</title>
  {% endblock %}

  {# FAVICON #}
  {% if favicon %}
  <link rel="shortcut icon" href="{{ pathto('_static/' + favicon, 1) }}"/>
  {% endif %}

  {# CSS #}
  <link rel="stylesheet" href="{{ pathto('_static/libweb/css/bootstrap.min.css', 1) }}" type="text/css" />
  <link rel="stylesheet" href="{{ pathto('_static/libweb/css/freelancer.min.css', 1) }}" type="text/css" />
  <link rel="stylesheet" href="{{ pathto('_static/libweb/font-awesome/css/font-awesome.min.css', 1) }}" type="text/css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700" type="text/css"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" type="text/css"/>

  {%- block linktags %}
  {%- if hasdoc('about') %}
  <link rel="author" title="{{ _('About these documents') }}"
    href="{{ pathto('about') }}"/>
  {%- endif %}
  {%- if hasdoc('genindex') %}
  <link rel="index" title="{{ _('Index') }}"
    href="{{ pathto('genindex') }}"/>
  {%- endif %}
  {%- if hasdoc('search') %}
  <link rel="search" title="{{ _('Search') }}" href="{{ pathto('search') }}"/>
  {%- endif %}
  {%- if hasdoc('copyright') %}
  <link rel="copyright" title="{{ _('Copyright') }}" href="{{ pathto('copyright') }}"/>
  {%- endif %}
  <link rel="top" title="{{ docstitle|e }}" href="{{ pathto('index') }}"/>
  {%- if parents %}
  <link rel="up" title="{{ parents[-1].title|striptags|e }}" href="{{ parents[-1].link|e }}"/>
  {%- endif %}
  {%- if next %}
  <link rel="next" title="{{ next.title|striptags|e }}" href="{{ next.link|e }}"/>
  {%- endif %}
  {%- if prev %}
  <link rel="prev" title="{{ prev.title|striptags|e }}" href="{{ prev.link|e }}"/>
  {%- endif %}
  {%- endblock %}
  {%- block extrahead %} {% endblock %}

  {# Keep modernizr in head - http://modernizr.com/docs/#installing #}
  {#<script src="{{ pathto('_static/libweb/js/modernizr.min.js', 1) }}"></script>#}

</head>

<body id="page-top" class="index">

  <!-- Navigation (top) -->
  {% include "navigation.html" %}
  <div class="navbar navbar-default navbar-fixed-top navbar-shrink navbar-doc">
    <div class="container">
      <div class="navbar-left">
        <div class="search doc">
          {% include "searchbox.html" %}
        </div>
        {#<span class="navbar-brand">Documentation</span>#}
      </div>
      <div class="collapse navbar-collapse" id="documentation-navbar">
        <ul class="nav navbar-nav navbar-right">
          <li class="hidden">
            <a href="#page-top"></a>
          </li>
          <li class="page-scroll">
            <a href="#">Matlab</a>
          </li>
          <li class="page-scroll">
            <a href="#">Python</a>
          </li>
          <li class="page-scroll">
            <a href="#">Code References</a>
          </li>
          <li class="page-scroll">
            <a href="#">Mathematical Fundamentals</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <section class="doc">
    <div class="container-fluid">
    <div class="row">
      <div class="col-lg-2 sidebar">
        <div class="nav nav-sidebar">
          {% block menu %}
          {% set toctree = toctree(maxdepth=4, collapse=False, includehidden=True) %}
          {% if toctree %}
            {{ toctree }}
          {% else %}
            <!-- Local TOC -->
            <div class="local-toc">{{ toc }}</div>
          {% endif %}
          {% endblock %}
        </div>
      </div>
      <div class="col-lg-6 col-lg-offset-1 main">
      {# Main page #}
      {# MOBILE NAV, TRIGGLES SIDE NAV ON TOGGLE #}
      <div class="wy-nav-top" role="navigation" aria-label="top navigation">
        <i data-toggle="wy-nav-top" class="fa fa-bars"></i>
        <a href="{{ pathto(master_doc) }}">{{ project }}</a>
      </div>
      {# PAGE CONTENT #}
      <div class="wy-nav-content">
        <div class="rst-content">
          {% include "breadcrumbs.html" %}
          <div role="main" class="document">
            {% block body %}{% endblock %}
          </div>
        </div>
      </div>
      </div>
    </div>
    </div>
  </section>

  {% if web %}

  {% include "versions.html" %}

  {% endif %}


  <!-- Footer -->
  {% include "footer.html" %}

  {% if not embedded %}

  <!-- jQuery -->
  <script src="{{ pathto('_static/libweb/js/jquery.js', 1)}}"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="{{ pathto('_static/libweb/js/bootstrap.min.js', 1)}}"></script>

  <!-- Plugin JavaScript -->
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
  <script src="{{pathto('_static/libweb/js/classie.js', 1)}}"></script>
  <!--<script src="js/cbpAnimatedHeader.js"></script> This will include
  shrinking of navbar during scrolling-->

  <!-- Custom Theme JavaScript -->
  <script src="{{ pathto('_static/libweb/js/freelancer.js', 1)}}"></script>

  <!-- Mathematics -->
  <script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

  {% endif %}

  {# RTD hosts this file, so just load on non RTD builds #}
  {% if not READTHEDOCS %}
  <script type="text/javascript" src="{{ pathto('_static/libweb/js/theme.js', 1) }}"></script>
  {% endif %}

  {# STICKY NAVIGATION #}
  {% if theme_sticky_navigation %}
  <script type="text/javascript">
  jQuery(function () {
    SphinxRtdTheme.StickyNav.enable();
  });
  </script>
  {% endif %}

  {%- block footer %} {% endblock %}

</body>
</html>
{# vim: set sw=2 ts=2 et tw=200: #}
